/* Ionic Variables and Theming. For more info, please see:
http://ionicframework.com/docs/theming/ */

/** Ionic CSS Variables **/
:root {
  --ion-color-primary: #7af0ff;
  --ion-color-primary-rgb: 122,240,255;
  --ion-color-primary-contrast: #000000;
  --ion-color-primary-contrast-rgb: 0,0,0;
  --ion-color-primary-shade: #6bd3e0;
  --ion-color-primary-tint: #87f2ff;

  --ion-color-secondary: #80d7ff;
  --ion-color-secondary-rgb: 128,215,255;
  --ion-color-secondary-contrast: #000000;
  --ion-color-secondary-contrast-rgb: 0,0,0;
  --ion-color-secondary-shade: #71bde0;
  --ion-color-secondary-tint: #8ddbff;

  --ion-color-tertiary: #fff45c;
  --ion-color-tertiary-rgb: 255,244,92;
  --ion-color-tertiary-contrast: #000000;
  --ion-color-tertiary-contrast-rgb: 0,0,0;
  --ion-color-tertiary-shade: #e0d751;
  --ion-color-tertiary-tint: #fff56c;

  --ion-color-success: #28cc6a;
  --ion-color-success-rgb: 40,204,106;
  --ion-color-success-contrast: #000000;
  --ion-color-success-contrast-rgb: 0,0,0;
  --ion-color-success-shade: #23b45d;
  --ion-color-success-tint: #3ed179;

  --ion-color-warning: #fff93d;
  --ion-color-warning-rgb: 255,249,61;
  --ion-color-warning-contrast: #000000;
  --ion-color-warning-contrast-rgb: 0,0,0;
  --ion-color-warning-shade: #e0db36;
  --ion-color-warning-tint: #fffa50;

  --ion-color-danger: #ff0000;
  --ion-color-danger-rgb: 255,0,0;
  --ion-color-danger-contrast: #ffffff;
  --ion-color-danger-contrast-rgb: 255,255,255;
  --ion-color-danger-shade: #e00000;
  --ion-color-danger-tint: #ff1a1a;

  --ion-color-dark: #090a0b;
  --ion-color-dark-rgb: 9,10,11;
  --ion-color-dark-contrast: #ffffff;
  --ion-color-dark-contrast-rgb: 255,255,255;
  --ion-color-dark-shade: #08090a;
  --ion-color-dark-tint: #222323;

  --ion-color-medium: #3a3c45;
  --ion-color-medium-rgb: 58,60,69;
  --ion-color-medium-contrast: #ffffff;
  --ion-color-medium-contrast-rgb: 255,255,255;
  --ion-color-medium-shade: #33353d;
  --ion-color-medium-tint: #4e5058;

  --ion-color-light: #d1ddff;
  --ion-color-light-rgb: 209,221,255;
  --ion-color-light-contrast: #000000;
  --ion-color-light-contrast-rgb: 0,0,0;
  --ion-color-light-shade: #b8c2e0;
  --ion-color-light-tint: #d6e0ff;
}

